

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/*For home page effect*/

body {
    width: 407px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10vmin;
    background: #000;
    overflow: hidden;
  }

  Horizon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30%;
    background-size: cover;
    box-shadow:
      0 1px 30px 25px #000,
      inset 0 -25px 150px 25px #000;
    animation:
      change-dream 30s infinite;
  }
  
  Road {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-right: 1px dashed #fff;
    box-sizing: border-box;
    background: #000;
    animation:
      move-forward 1s infinite linear,
      radiate 25s infinite linear;
  }
  
  @keyframes move-forward {
    from {
      transform:
        rotateX(25deg)
        scale(50, 50)
        translateX(-55%)
    }
  
    to {
      transform:
        rotateX(25deg)
        scale(50, 50)
        translateX(-55%)
        rotate(23.2deg)
    }
  }
  
  @keyframes radiate {
    from, to {
      box-shadow:
        0 0 0 5px #000,
        0 0 10px 5px hotpink;
    }
  
    20% {
      box-shadow:
        0 0 0 5px #000,
        0 0 10px 5px crimson;
    }
  
    40% {
      box-shadow:
        0 0 0 5px #000,
        0 0 10px 5px gold;
    }
  
    60% {
      box-shadow:
        0 0 0 5px #000,
        0 0 10px 5px mediumspringgreen;
    }
  
    80% {
      box-shadow:
        0 0 0 5px #000,
        0 0 10px 5px cyan;
    }
  }
  
  @keyframes change-dream {
    from, 17%, to {
      background-image: url(https://assets.codepen.io/25387/tumblr_oy13gs1fDi1vq64mxo1_500.gif);
      background-position: center 65%;
    }
  
    20%, 37% {
      background-image: url(https://assets.codepen.io/25387/tumblr_oy13gs1fDi1vq64mxo4_1280.gif);
      background-position: center 60%;
    }
  
    40%, 57% {
      background-image: url(https://assets.codepen.io/25387/tumblr_oy13gs1fDi1vq64mxo5_400.gif);
      background-position: center center;
    }
  
    60%, 77% {
      background-image: url(https://assets.codepen.io/25387/tumblr_oy13gs1fDi1vq64mxo2_500.gif);
      background-position: center 10%;
    }
  
    80%, 97% {
      background-image: url(https://assets.codepen.io/25387/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
      background-position: center center;
    }
  }

  /** End Home page effect **/
#main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

h1 {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin: 0 0 -10px; 
    z-index: 0;
}

h2 {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0 0 -10px; 
    z-index: 0;
}

.images-container {
    position: absolute;
    width: 1500px; 
    height: 776px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dream-image {
    perspective: 1000px;
    width: 150px; 
    height: 150px; 
    margin: 10px; 
    position: absolute; 
    transform-style: preserve-3d;
    z-index: 2; 
}

.image-flipper {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.image-flipper img, .image-title {
    object-fit: contain;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
}

.image-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    font-style: italic;
    font-weight: 900;
    transform: rotateY(180deg);
}

.dream-image:hover .image-flipper {
    transform: rotateY(180deg);
}

#button-container {
    position: fixed;
    top:20px;
    right: -500px;
    z-index: 10;
    }
    
    .filter-button {
        margin: 0 10px;
        cursor: pointer;
        width: 50px; 
        height: 50px; 
        transition: transform 0.3s ease; /* for clicking effect*/
    }
    
    .filter-button:hover {
        transform: scale(1.1); /* for hover effect */
    }

    .displayed-image {
        /* Add styles for the displayed image */
        width: 65%; /* Adjust as needed */
        height: auto;
        margin: 20px;
    }
    
    .image-story {
        /* Add styles for the story text */
        width: 100%; /* Adjust as needed */
        color: white;
        font-family: "Black Ops One", system-ui;
        font-weight: 400;
        font-size: 3em;
        line-height: 2;
    }
