body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#main-container {
    position: relative; /* use relative to set position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

h1 {
    font-size: 4em;
    margin: 0 0 -10px; 
    z-index: 0; /* to make sure title is at the top layer */
}

.images-container {
    position: absolute;
    width: 80%; 
    height: 80%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.dream-image {
    perspective: 1000px;
    width: 150px; 
    height: 150px; 
    margin: 10px; 
    position: absolute; 
    transform-style: preserve-3d; /* to make sure position is preserve in 3d */
    z-index: 2; 
}

.image-flipper {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    z-index: auto;
}

.image-flipper img, .image-title {
    object-fit: contain;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    z-index: auto;
}

.image-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    font-style: italic;
    font-weight: 900;
    transform: rotateY(180deg);
}

.dream-image:hover .image-flipper {
    transform: rotateY(180deg);
}


.image-story {
    display: none; 
    position: absolute;
    bottom: 0; 
    left: 120%;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    width: max-content;
    max-width: 200px; 
    z-index: 3; 
    text-align: left;
    font-size: 0.9em;
}

.image-story::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: -20px; 
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.do-flip .image-flipper {
    transform: rotateY(180deg);
    z-index: 1;
}


.image-flipper {
    position: relative;
    z-index: 2;
}
